<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>99Names.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFD7586721D473B3003D4D1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD7587B21D473B3003D4D1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD7588621D473B3003D4D1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
